body {
    /*background: url(../images/Background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    zoom: 130%;*/
    background-color: #ffffff;
}
.container {
    height: 90%;
    width: 80%;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#container{
    height: 90%;
    width: 80%;

    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
/*.loginText {

}

.activeVotes {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.newVote {
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}

.newRef {
    margin-top: 40px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 150px;
}
.voteDiv {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

.chartEvaluation {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
}

#success {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 16px;
}

#error {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 200px;
    margin-left: 200px;
    font-size: 16px;
    color: red;
}
*/
.candDiv {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

    border: 1px solid black; /* Border muss noch angepasst werden*/

}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.refTable {
    width: 100%;
}



.navbar-custom {
    color: #000000;
    background-color: #ffffff;
}

.h1 {
    color: black;
}

.nav.navbar-nav li a {
    font-weight: bold;
    font-size: 110%;
}

.titleID {
    font-size: 150%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 900;
    height: 50px;
    background-color: #ffffff;
    font-size: 110%;
    font-weight: bold;
    overflow: hidden;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.c3-axis-y-label {
    font-size: 12px;
    font-family: "Courier New";
}

.c3-axis-x-label {
    font-size: 12px;
    font-family: "Courier New";
}
#inputPicture{
    height: 3%;
}

#hiddenPoll {
    visibility: hidden;
}
#hiddenVote {
    visibility: hidden;
}
#hiddenFoto {
    visibility: hidden;
}




